-# = form.text_field :image, placeholder: "Image Url"
= form.text_area :content, placeholder: "取り組み内容を報告してみましょう！", id: "content", rows: "6"
.tweet_images
  = form.label :image, class: "image_label" do
    %i.fas.fa-images
    = form.file_field :image, value: "", style: "display: none"
    -if @tweet.image.present?
      = image_tag @tweet.image.url, class:"image_preview"
= form.submit "SEND"
