.content_post.index
  = link_to tweet_path(tweet.id) do 
    .divlink
  =link_to user_path(tweet.user.id), class: "user_link" do
    -if tweet.user.image.present?
      =image_tag tweet.user.image.url, class: "icon_image"
    -else
      %i.fas.fa-user-circle
    %p.user_link_name
      = tweet.user.name
  = simple_format(tweet.content)
  = image_tag tweet.image.url, class: "tweet_image" if tweet.image.present?
  .like
    -if user_signed_in? && current_user.already_liked?(tweet)
      = link_to tweet_like_path(tweet_id: tweet.id, id: tweet.likes.first.id), method: :delete do
        %i.fas.fa-heart
    -else
      = link_to tweet_likes_path(tweet), method: :post do
        %i.far.fa-heart
    = tweet.likes.count if tweet.likes.present?