.contents.row
  .content_post
    =link_to user_path(@tweet.user.id), class: "user_link" do
      -if @tweet.user.image.present?
        =image_tag @tweet.user.image.url, class: "icon_image"
      -else
        %i.fas.fa-user-circle
      %p.user_link_name
        = @tweet.user.name
    = simple_format(@tweet.content)
    = image_tag @tweet.image.url, class: "tweet_image" if @tweet.image.present?
    .like
      %i.far.fa-heart

    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %span
          %i.fas.fa-chevron-down
        %ul.more_list
          %li
            = link_to '編集', "/tweets/#{@tweet.id}/edit", class: "li",  method: :get
          %li{class: "li",id: "pre_destroy"} 
            削除

  - if user_signed_in? && current_user.id == @tweet.user_id
    .destroy.container
      %h1 ツイートを削除しますか？
      %p この操作は取り消せません。
      .buttons
        %li{id: "cancel"} キャンセル
        %li
          = link_to "削除する", tweet_path, method: :delete

  .container
    - if current_user
      .comment_form
        = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :content, placeholder: "コメントする", rows: "2", id: "comment_content", class: "textbox"
          = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
              ：
            = comment.content

