.contents.row
  .container
    %h2 プロフィール編集
    = form_with(model: current_user, class: 'new_user', local: true) do |f|
      .field.images
        %p プロフィール画像
        %i.fas.fa-user-circle
          .image_form
            %i.fas.fa-circle
            = f.label :image do
              %i.fas.fa-plus
              -# %p 変更
              = f.file_field :image, style: "display: none"
      .field
        = f.label :ニックネーム
        = f.text_field :name, autofocus: true, maxlength: "6"
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.label :プロフィール文
        = f.text_area :introduction, row: 10
      .actions
        = f.submit "更新する"
