.contents.row
  .container
    %h2 プロフィール編集
    = form_with(model: current_user, class: 'new_user', local: true) do |f|
      .image_form
        %p プロフィール画像
        .icon_area
          -if current_user.image.present?
            =image_tag current_user.image.url, class: "icon"

          -else
            %i.fas.fa-user-circle.icon
          %i.fas.fa-circle
          = f.label :image do
            %i.fas.fa-plus
            = f.file_field :image, style: "display: none"
      .field
        = f.label :ニックネーム
        = f.text_field :name, autofocus: true, maxlength: "6"
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.label :プロフィール文
        = f.text_area :introduction, row: 10
      .actions
        = f.submit "更新する"
